body {
  background-color: {{ .Param "colors.background" }};
  color: {{ .Param "colors.text" }};
}

a { color: {{ .Param "colors.text" }}; }

pre {
  background: {{ .Param "colors.code-quote-bg" }};
  border: 1px solid {{ .Param "colors.text" }};
  border-radius: 5px;
}

code {
  background: {{ .Param "colors.code-quote-bg" }};
}

blockquote {
  background: {{ .Param "colors.code-quote-bg" }};
  border-left: 3px solid {{ .Param "colors.text" }};
}

table {
  margin: 1em auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid {{ .Param "colors.text" }};
}

th {
  background: {{ .Param "colors.text" }};
  color: {{ .Param "colors.background" }};
}

.siteTitle a { color: {{ .Param "colors.main" }}; }

.post .content h1{ color: {{ .Param "colors.main" }}; }
.post .content h2{ color: {{ .Param "colors.main" }}; }
.post .content h3{ color: {{ .Param "colors.main" }}; }
.post .content h4{ color: {{ .Param "colors.main" }}; }
.post .content h5{ color: {{ .Param "colors.main" }}; }
.post .content h6{ color: {{ .Param "colors.main" }}; }
.post .content a:hover { color: {{ .Param "colors.main" }}; }
.social-link:hover { color: {{ .Param "colors.main" }}; }
.nav-item-title:hover { color: {{ .Param "colors.main" }}; }
.tag a:hover { color: {{ .Param "colors.main" }}; }
.copyright { color: {{ .Param "colors.copyright" }} }
.poweredby { color: {{ .Param "colors.copyright" }} }
.poweredby a { color: {{ .Param "colors.copyright" }}; }
.post-preview .title a{ color: {{ .Param "colors.main" }}; }
.content-item a:hover{
  text-decoration: underline;
  color: {{ .Param "colors.main" }};
}
.post-list .title { color: {{ .Param "colors.main" }}; }
.rmore { color: {{ .Param "colors.main" }}; }
.terms .term a:hover {
  text-decoration: underline;
  color: {{ .Param "colors.main" }};
}

/* generic headers */
h1{ color: {{ .Param "colors.h1" }}; }
h2{ color: {{ .Param "colors.h2" }}; }
h3{ color: {{ .Param "colors.h3" }}; }
h4{ color: {{ .Param "colors.h4" }}; }
h5{ color: {{ .Param "colors.h5" }}; }
h6{ color: {{ .Param "colors.h6" }}; }

/* Changes */
#main{
    border-radius: 0.15%;
    padding: 15px 20px;
    background: {{ .Param "colors.background" }};
}

.p-title__link {
    color: {{ .Param "colors.main" }};
}

.p-title__link:hover {
    color: {{ .Param "colors.text" }};
}

/* Base style */

body {
    color: {{ .Param "colors.text" }};
    background: {{ .Param "colors.code-quote-bg" }};;
    line-height: 1.57
    font-size: 1.0rem;
    font-family: -apple-system, BlinkMacSystemFont, YakuHanJP, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

a {
    color: {{ .Param "colors.text" }};
    text-decoration: none
}

a:hover {
    color: {{ .Param "colors.main" }};
}

pre {
    display: block;
    padding: 12px;
    border-radius: 3px;
    background-color: {{ .Param "colors.background" }};
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow: auto
}

code {
    line-height: 1.8;
    font-size: 1.4rem
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.6rem
}


th {
    background-color: {{ .Param "colors.background" }};;
    font-weight: 400
}

blockquote {
    margin: 0;
    padding: 8px 12px;
    border-left: 3px solid {{ .Param "colors.text" }}
}

.c-links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #555;
    border-radius: 50%;
    color: {{ .Param "colors.main" }};
    transition: .2s
}

.c-links a:hover {
    background: {{ .Param "colors.background" }};
    color: {{ .Param "colors.main" }};
}

.c-links__icon {
    width: 16px;
    height: 16px;
    fill: #ccc;
}

.c-article__title a {
    color: {{ .Param "colors.main" }};
}

.c-article__title a:hover {
    color: {{ .Param "colors.text" }};
}

.c-article__summary {
    font-size: 1.4rem;
    color: {{ .Param "colors.text" }};
    line-height: 1.57
}

.c-tag {
    display: inline-block;
    margin: 8px 6px 0 0;
    padding: 4px;
    font-size: 1.6rem;
    color: {{ .Param "colors.ctag" }};
}

.c-tag:hover {
    background: {{ .Param "colors.ctag-hover-bg" }};
}

.c-pagination a:hover {
    background: {{ .Param "colors.background" }};
}

.p-tag-title {
    display: inline-block;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid currentColor;
    color: {{ .Param "colors.p-tag-title" }};;
    font-size: 2.4rem
}

/* Menu styles - change */

.p-menu {
    width: 100%;
    background: #000;
    padding-top: 12px;
    padding-bottom: 14px;
    margin-bottom: 4rem;
    display: inline-block;
    /* NOTE: should make this its own thing, most likely */
    border-left: 1rem solid {{ .Param "colors.background" }};
}

.p-menu__parent span {
    color: {{ .Param "colors.text" }};
}

.p-author:before {
    content: "* * *";
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 1.4rem;
    color: {{ .Param "colors.text" }};
}

.p-screen-reader-text:hover,
.p-screen-reader-text:active,
.p-screen-reader-text:focus {
    background-color: {{ .Param "colors.background" }};;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: {{ .Param "colors.text" }};
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.p-related__item a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-size: cover;
    background-color: {{ .Param "colors.background" }};
    color: {{ .Param "colors.text" }};
    font-weight: 400;
    font-family: Open Sans, sans-serif
}

.p-related__item a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    transition: .1s
}

.p-related__item a:hover:before {
    background: rgba(0, 0, 0, .6)
}

/* Slick css */

.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background: {{ .Param "colors.background" }};
}

.slick-arrow:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 5px;
    height: 5px;
    border: solid {{ .Param "colors.text" }};
}
