<script>
var chart = c3.generate({
    bindto: '#{{ .Get "chart" }}',
    data: {
        {{ with .Get "x" }}
         x: '{{.}}',
        {{ end }}
        url: '{{ .Get "url" }}',
        type: '{{ .Get "type" }}'
    }
    {{ if or (isset .Params "xLabel") (or (isset .Params "yLabel") (isset .Params "y2Label") ) }}
     ,axis: {
         {{ with .Get "xLabel" }}
          x: {
              label: '{{.}}'
          }
         {{ end }}
         {{ if isset .Params "yLabel" }},{{end}}
         {{ with .Get "yLabel" }}
          y: {
              label: '{{.}}'
          }
         {{ end }}
         {{ if isset .Params "y2Label" }},{{end}}
         {{ with .Get "y2Label" }}
          y2: {
              show: true,
              label: '{{.}}'
          }
          {{ end }}
     }
    {{ end }}
});
</script>
