<script>
var chart = c3.generate({
    bindto: '{{ .Get "chart" }}',
    data: {
        {{ with .x }}
         x: '{{.}}',
        {{ end }}
        url: '{{ .Get "url" }}',
        type: '{{ .Get "type" }}'
    }
    {{ if (or ( isset .xLabel )(or ( isset .yLabel )( .y2Label ))) }}
     ,axis: {
         {{ with .xLabel }}
          x: {
              label: '{{.}}'
          }
         {{ end }}
         {{ if isset .yLabel }},{{end}}
         {{ with .y-label }}
          x: {
              label: '{{.}}'
          }
         {{ if isset .y2Label }},{{end}}
         {{ with .y2-label }}
          x: {
              label: '{{.}}'
          }
     }
    {{ end }}
});
</script>
